.intro-section {
  width: 100vw;
  height: 100vh;
  background-color: orange;
  background-image: url('https://cdn.pixabay.com/photo/2017/01/31/08/22/zigzag-2023196_1280.png');
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}
