@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap");
@import "./shared/style-config/mixins.scss";
@import "./shared/style-config/variable.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
// body {
  // overflow-x: hidden
// }

p {
  @include typography(14px, 400, 20px);
}
h1 {
  @include typography(6rem, 700, 7rem);
}
h2 {
  @include typography(2.3rem, 700, 3rem);
}
h3 {
  @include typography(2rem, 400, 2rem);
}
h4 {
  @include typography(16px, 500, 1.2);
}
